# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Project specific - Data and Logs
data/
logs/
tests/img/original.bmp

# Nếu bạn muốn giữ cấu trúc thư mục data nhưng không giữ file bên trong:
# data/stego/*
# !data/stego/.gitkeep

# Operating System files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/